In [6]:
import pandas as pd 
import numpy as np
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
pd.DataFrame([[1,2],[3,np.nan]],index=['a','b'],columns= list('cd'))

   c    d
a  1  2.0
b  3  NaN

In [14]:
pd.DataFrame({"Name":['animesh','Tirth'],"Age":['18','16']},index=['a1','a2'])

       Name Age
a1  animesh  18
a2    Tirth  16

In [23]:
dates_d = pd.date_range('20300101', periods=4, freq='D')
print(dates_d)

DatetimeIndex(['2030-01-01', '2030-01-02', '2030-01-03', '2030-01-04'], dtype='datetime64[ns]', freq='D')

In [17]:
dates_m = pd.date_range('20300101',periods=6,freq='M')
print(dates_m)

DatetimeIndex(['2030-01-31', '2030-02-28', '2030-03-31', '2030-04-30',
               '2030-05-31', '2030-06-30'],
              dtype='datetime64[ns]', freq='M')

In [19]:
dates_y = pd.date_range('20300101',periods=6,freq='Y')
print(dates_y)

DatetimeIndex(['2030-12-31', '2031-12-31', '2032-12-31', '2033-12-31',
               '2034-12-31', '2035-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [28]:
random_data = np.random.randn(6,4)
r1 = pd.DataFrame(random_data, index=dates_m,columns=dates_d)

In [29]:
r1.head(3) #Bydifault it gives first five rows.

            2030-01-01  2030-01-02  2030-01-03  2030-01-04
2030-01-31    0.840216    0.109557   -0.540822    0.388069
2030-02-28   -0.187493   -1.365860    0.417987    0.403921
2030-03-31    0.952208    0.272666    0.977372   -0.433275

In [30]:
r1.tail(3) #Bydifault it gives botom five rows.

            2030-01-01  2030-01-02  2030-01-03  2030-01-04
2030-04-30   -0.984661    1.737801    0.508649    0.760170
2030-05-31    0.731061    1.386743    0.533543   -1.596209
2030-06-30   -0.874731   -0.432026   -1.359541    1.257686

In [31]:
r1.describe()

       2030-01-01  2030-01-02  2030-01-03  2030-01-04
count    6.000000    6.000000    6.000000    6.000000
mean     0.079433    0.284814    0.089531    0.130061
std      0.880809    1.148466    0.867883    1.010693
min     -0.984661   -1.365860   -1.359541   -1.596209
25%     -0.702922   -0.296630   -0.301120   -0.227939
50%      0.271784    0.191112    0.463318    0.395995
75%      0.812927    1.108224    0.527319    0.671108
max      0.952208    1.737801    0.977372    1.257686

In [35]:
r1['2030-01-01 00:00:00']

2030-01-31    0.840216
2030-02-28   -0.187493
2030-03-31    0.952208
2030-04-30   -0.984661
2030-05-31    0.731061
2030-06-30   -0.874731
Freq: M, Name: 2030-01-01 00:00:00, dtype: float64

In [41]:
r1[1:2]

            2030-01-01  2030-01-02  2030-01-03  2030-01-04
2030-02-28   -0.187493    -1.36586    0.417987    0.403921

In [51]:
r1.loc[['2030-02-28'],:]

KeyError: "None of [Index(['2030-02-28'], dtype='object')] are in the [index]"

In [52]:
r1.iloc[1:2,3:4]

            2030-01-04
2030-02-28    0.403921

In [66]:
r1.drop(columns= '2030-1-04 0:00:00')

KeyError: "['2030-1-04'] not found in axis"

In [60]:
d1 = pd.DataFrame({'name': ['John', 'Smith','Paul'],
                     'Age': ['25', '30', '50']},
                    index=[0, 1, 2])
d2 = pd.DataFrame({'name': ['Adam', 'Smith' ],
                     'Age': ['26', '11']},
                    index=[3, 4])  
d = pd.concat([d1,d2])
print(d)

    name Age
0   John  25
1  Smith  30
2   Paul  50
3   Adam  26
4  Smith  11

In [61]:
d.drop_duplicates('name')

    name Age
0   John  25
1  Smith  30
2   Paul  50
3   Adam  26

In [62]:
d.sort_values('Age')

    name Age
4  Smith  11
0   John  25
3   Adam  26
1  Smith  30
2   Paul  50

In [63]:
d.rename(columns={'name':'First Name',"Age":'g'})

  First Name   g
0       John  25
1      Smith  30
2       Paul  50
3       Adam  26
4      Smith  11