## 1. Write a Python program to create and display a one-dimensional array-like object                    containing an array of data using Pandas module.
### SOLUTION :

In [1]:
import pandas as pd 
import numpy as np
panda_series = pd.Series([1,2,3,4])
print(panda_series)

0    1
1    2
2    3
3    4
dtype: int64

## 2. Write a Python program to convert a Panda module Series to Python list and it's type.
### SOLUTION :

In [7]:
panda_series = pd.Series([1,2,3,4])
list_series = panda_series.tolist()
type_data = type(list_series)
print(list_series)
type_data

[1, 2, 3, 4]

list

## 3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
### SOLUTION :

In [32]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 9])
sum_data = a.add(b,fill_value = 0)
sub_data = a.sub(b,fill_value = 0)
mul_data = a.mul(b,fill_value = 0)
div_data = a.div(b,fill_value = 0)
print("\n SUM : \n", sum_data)
print("\n SUB : \n",sub_data)
print("\n MUL : \n",mul_data)
print("\n DIV : \n",div_data)

 SUM :
 0     3
1     7
2    11
3    15
4    19
dtype: int64

 SUB :
 0    1
1    1
2    1
3    1
4    1
dtype: int64

 MUL :
 0     2
1    12
2    30
3    56
4    90
dtype: int64

 DIV :
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## 4. Write a Python program to get the largest integer smaller or equal to the division of the          inputs.
### SOLUTION :

In [33]:
a = [2, 4, 6, 8, 10]
b = [1, 3, 5, 7, 9]
np.floor_divide(a,b)

array([2, 1, 1, 1, 1])

## 5. Write a Python program to convert a dictionary to a Pandas series.
### SOLUTION :

In [37]:
#Sample Series:
   # Original dictionary:
a = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.DataFrame(a,index=['1','2','3','4','5'])

     a    b    c    d    e
1  100  200  300  400  800
2  100  200  300  400  800
3  100  200  300  400  800
4  100  200  300  400  800
5  100  200  300  400  800

## 6. Write a Python program to convert a NumPy array to a Pandas series.
### SOLUTION :

In [42]:
a = np.array([10,20,30,40,50])
print(a)
pd.DataFrame(a)

[10 20 30 40 50]

    0
0  10
1  20
2  30
3  40
4  50

## 7. Write a Python program to change the data type of given a column or a Series.
### SOLUTION :

In [48]:
a =pd.Series([100,200,'python',300.12,400])
print(a)
pd.to_numeric(a,errors='coerce')

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

## 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.
### SOLUTION :

In [65]:
o_d = pd.DataFrame({'col1':[1,2,3,4,5,6],'col2':[7,8,9,1,3,4],'col3':[3,5,8,9,2,0]})
print(o_d)
o_s = o_d.iloc[:,0]
print("\n",o_s)
print("\n",type(o_s))

   col1  col2  col3
0     1     7     3
1     2     8     5
2     3     9     8
3     4     1     9
4     5     3     2
5     6     4     0

 0    1
1    2
2    3
3    4
4    5
5    6
Name: col1, dtype: int64

 <class 'pandas.core.series.Series'>

## 9. Write a Pandas program to convert a given Series to an array.
### SOLUTION :

In [69]:
d_s = pd.Series([100,200,"Python",300.12,400])
print(d_s)
a1 = d_s.tolist()
print(a1)

0       100
1       200
2    Python
3    300.12
4       400
dtype: object
[100, 200, 'Python', 300.12, 400]

## 10. Write a Pandas program to convert Series of lists to one Series.
### SOLUTION :

In [82]:
s1 = pd.Series([['Red','Green','White'],['Red','Black'],['Yellow']])
print(s1)
s1.apply(pd.Series).stack().reset_index(drop=True)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

## 11. Write a Pandas program to sort a given Series.
### SOLUTION :

In [8]:
import pandas as pd
s = pd.Series(['100','200',"Python",'300.12','400'])
print(s)
sorting = s.sort_values()
print("\n",sorting)

0       100
1       200
2    Python
3    300.12
4       400
dtype: object

 0       100
1       200
3    300.12
4       400
2    Python
dtype: object

## 12. Write a Pandas program to add some data to an existing Series.
### SOLUTION :

In [16]:
o_s = pd.Series(['100','200',"Python",'300.12','400'])
a_s = pd.Series(['500','php'])
print(o_s)
after_series = o_s.append(a_s)
print('\n',after_series)

0       100
1       200
2    Python
3    300.12
4       400
dtype: object

 0       100
1       200
2    Python
3    300.12
4       400
0       500
1       php
dtype: object

## 13. Write a Pandas program to create a subset of a given series based on value and                      condition.
### SOLUTION :

In [18]:
a = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print(a)
b = a[a<6]
print('\n',b)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

 0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

## 14. Write a Pandas program to change the order of index of a given series.
### SOLUTION :

In [20]:
a = pd.Series([1,2,3,4,5],index = ['A','B','C','D','E'])
print(a)
a = a.reindex(index = ['B','A','C','D','E'])
print('\n',a)

A    1
B    2
C    3
D    4
E    5
dtype: int64

 B    2
A    1
C    3
D    4
E    5
dtype: int64

## 15. Write a Pandas program to create the mean and standard deviation of the data of a                  given Series.
### SOLUTION :

In [24]:
o_s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(o_s)
print('\n MEDIAN :',o_s.mean())
print('\n STANDARD DEVIATION :',o_s.std())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

 MEDIAN : 4.818181818181818

 STANDARD DEVIATION : 2.522624895547565